$ curl -sv http://206.167.183.187/chart.png -o /dev/null
* Trying 206.167.183.187...
* TCP_NODELAY set
* Connected to 206.167.183.187 (206.167.183.187) port 80 (#0)
> GET /chart.png HTTP/1.1
> Host: 206.167.183.187
> User-Agent: curl/7.54.0
> Accept: */*
>
< HTTP/1.1 200 OK
< Date: Wed, 27 Mar 2019 16:37:41 GMT
< Server: Apache/2.4.29 (Ubuntu)
< Last-Modified: Wed, 27 Mar 2019 16:37:05 GMT
< ETag: "6c4c-585160c4ebb97"
< Accept-Ranges: bytes
< Content-Length: 27724
< Content-Type: image/png
<
{ [2564 bytes data]
* Connection #0 to host 206.167.183.187 left intact
